<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/images/css/theme.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{menu :: menu}"></div>
<div class="container mt-4">
    <h2>Cadastro de Cliente</h2>
    <form th:action="@{/clientes}" th:object="${cliente}" method="post">
        <input type="hidden" th:field="*{idCliente}">

        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" th:field="*{nome}">
        </div>

        <div class="mb-3">
            <label class="form-label">Telefone</label>
            <input type="text" class="form-control" th:field="*{telefone}">
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" th:field="*{email}">
        </div>

        <div class="mb-3">
            <label class="form-label">CPF</label>
            <input type="text" class="form-control" th:field="*{cpf}">
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a th:href="@{/clientes}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html>